/*
* @Author: yongze-chen
* @Date:   2018-06-19 14:26:00
* @Last Modified by:   yongze-chen
* @Last Modified time: 2018-06-19 14:26:32
*/

body,html {
    margin: 0;
    padding: 0;
    font-size: 12px;
}